<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpHPuiFIt4w4M27Ttub4wwG5czy77ngMU</string>
	<key>GCM_SENDER_ID</key>
	<string>1025058548533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cobyzero.estudiaYa</string>
	<key>PROJECT_ID</key>
	<string>estudia-ya</string>
	<key>STORAGE_BUCKET</key>
	<string>estudia-ya.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025058548533:ios:95355cd80eb64f79a37a7c</string>
</dict>
</plist>